<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CRM_BASE.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="CRM_BASE.My.MySettings.BaseConnectionString" connectionString="Data Source=0.0.0.0;Initial Catalog=Base;User ID=sqlsystem;Password=1q2w3e4r*"
            providerName="System.Data.SqlClient" />
        <add name="CRM_BASE.My.MySettings.OficinaConnectionString" connectionString="Data Source=0.0.0.0;Initial Catalog=Oficina;Persist Security Info=True;User ID=sqlsystem;Password=1q2w3e4r*"
            providerName="System.Data.SqlClient" />
        <add name="CRM_BASE.My.MySettings.TransportePrestadorOnLineConnectionString"
            connectionString="Data Source=0.0.0.0;Initial Catalog=TransportePrestadorOnLine;Persist Security Info=True;User ID=sqlsystem;Password=1q2w3e4r*"
            providerName="System.Data.SqlClient" />
        <add name="CRM_BASE.My.MySettings.JarbesConnectionString" connectionString="Data Source=0.0.0.0;Initial Catalog=Jarbes;Persist Security Info=True;User ID=sqlsystem;Password=1q2w3e4r*"
            providerName="System.Data.SqlClient" />
        <add name="CRM_BASE.My.MySettings.TransportePrestadorOnLineConnectionString1"
            connectionString="Data Source=0.0.0.0;Initial Catalog=TransportePrestadorOnLine;Persist Security Info=True;User ID=sqlsystem;Password=1q2w3e4r*"
            providerName="System.Data.SqlClient" />
        <add name="CRM_BASE.My.MySettings.ComercialConnectionString"
            connectionString="Data Source=0.0.0.0;Initial Catalog=Comercial;User ID=sqlsystem;Password=1q2w3e4r*"
            providerName="System.Data.SqlClient" />
        <add name="CRM_BASE.My.MySettings.FinanceiroConnectionString"
            connectionString="Data Source=0.0.0.0;Initial Catalog=Financeiro;Persist Security Info=True;User ID=SqlSystem;Password=1q2w3e4r*"
            providerName="System.Data.SqlClient" />
        <add name="CRM_BASE.My.MySettings.EstoqueDistribuidorOnLineConnectionString"
            connectionString="Data Source=0.0.0.0;Initial Catalog=EstoqueDistribuidorOnLine;Persist Security Info=True;User ID=sqlsystem"
            providerName="System.Data.SqlClient" />
        <add name="CRM_BASE.My.MySettings.BaseConnectionString1" connectionString="Data Source=0.0.0.0;Initial Catalog=Base;Persist Security Info=True;User ID=sqlsystem;Password=1q2w3e4r*"
            providerName="System.Data.SqlClient" />
        <add name="CRM_BASE.My.MySettings.IARAConnectionString" connectionString="Data Source=0.0.0.0;Initial Catalog=IARA;Persist Security Info=True;User ID=SqlSystem;Password=1q2w3e4r*"
            providerName="System.Data.SqlClient" />
        <add name="CRM_BASE.My.MySettings.ComercialConnectionString1"
            connectionString="Data Source=0.0.0.0;Initial Catalog=Comercial;Persist Security Info=True;User ID=sqlsystem;Password=1q2w3e4r*"
            providerName="System.Data.SqlClient" />
        <add name="CRM_BASE.My.MySettings.EstoqueLocalConnectionString"
            connectionString="Data Source=0.0.0.0;Initial Catalog=EstoqueLocal;Persist Security Info=True;User ID=SqlSystem;Password=1q2w3e4r*"
            providerName="System.Data.SqlClient" />
        <add name="CRM_BASE.My.MySettings.OficinaConnectionString1" connectionString="Data Source=0.0.0.0;Initial Catalog=Oficina;Persist Security Info=True;User ID=sqlsystem;Password=1q2w3e4r*"
            providerName="System.Data.SqlClient" />
        <add name="CRM_BASE.My.MySettings.BaseConnectionString2" connectionString="Data Source=AMI-NOTEBOOK;Initial Catalog=Base;Persist Security Info=True;User ID=sqlsystem"
            providerName="System.Data.SqlClient" />
        <add name="CRM_BASE.My.MySettings.OficinaConnectionString2" connectionString="Data Source=AMI-NOTEBOOK;Initial Catalog=Oficina;Persist Security Info=True;User ID=SqlSystem"
            providerName="System.Data.SqlClient" />
        <add name="CRM_BASE.My.MySettings.TransportePrestadorOnlineConnectionString2"
            connectionString="Data Source=192.168.0.7;Initial Catalog=TransportePrestadorOnline;Persist Security Info=True;User ID=SqlSystem"
            providerName="System.Data.SqlClient" />
        <add name="CRM_BASE.My.MySettings.ComercialConnectionString2"
            connectionString="Data Source=AMI-NOTEBOOK;Initial Catalog=Comercial;Persist Security Info=True;User ID=SqlSystem"
            providerName="System.Data.SqlClient" />
        <add name="CRM_BASE.My.MySettings.FinanceiroConnectionString1"
            connectionString="Data Source=AMI-NOTEBOOK;Initial Catalog=Financeiro;Persist Security Info=True;User ID=SqlSystem"
            providerName="System.Data.SqlClient" />
        <add name="CRM_BASE.My.MySettings.EstoqueLocalConnectionString1"
            connectionString="Data Source=AMI-NOTEBOOK;Initial Catalog=EstoqueLocal;Persist Security Info=True;User ID=SqlSystem"
            providerName="System.Data.SqlClient" />
        <add name="CRM_BASE.My.MySettings.EstoqueDistribuidorOnLineConnectionString1"
            connectionString="Data Source=AMI-NOTEBOOK;Initial Catalog=EstoqueDistribuidorOnLine;Persist Security Info=True;User ID=sqlsystem"
            providerName="System.Data.SqlClient" />
        <add name="CRM_BASE.My.MySettings.EstoqueDistribuidorOnLineConnectionString2"
            connectionString="Data Source=&quot;152.254.236.69\sqlexpress, 14333&quot;;Initial Catalog=EstoqueDistribuidorOnLine;Persist Security Info=True;User ID=sqlsystem"
            providerName="System.Data.SqlClient" />
        <add name="CRM_BASE.My.MySettings.OficinaConnectionString3" connectionString="Data Source=DESKTOP-K3M64OB;Initial Catalog=Oficina;Persist Security Info=True;User ID=sqlsystem"
            providerName="System.Data.SqlClient" />
        <add name="CRM_BASE.My.MySettings.ComercialConnectionString3"
            connectionString="Data Source=DESKTOP-K3M64OB;Initial Catalog=Comercial;Persist Security Info=True;User ID=SqlSystem"
            providerName="System.Data.SqlClient" />
        <add name="CRM_BASE.My.MySettings.BaseConnectionString3" connectionString="Data Source=DESKTOP-K3M64OB;Initial Catalog=Base;Persist Security Info=True;User ID=SqlSystem"
            providerName="System.Data.SqlClient" />
        <add name="CRM_BASE.My.MySettings.EstoqueLocalConnectionString2"
            connectionString="Data Source=DESKTOP-K3M64OB;Initial Catalog=EstoqueLocal;Persist Security Info=True;User ID=Sqlsystem"
            providerName="System.Data.SqlClient" />
        <add name="CRM_BASE.My.MySettings.FinanceiroConnectionString2"
            connectionString="Data Source=DESKTOP-K3M64OB;Initial Catalog=Financeiro;Persist Security Info=True;User ID=SqlSystem"
            providerName="System.Data.SqlClient" />
        <add name="CRM_BASE.My.MySettings.TrabalhistaConnectionString"
            connectionString="Data Source=DESKTOP-K3M64OB;Initial Catalog=Trabalhista;Persist Security Info=True;User ID=SqlSystem"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <CRM_BASE.My.MySettings>
      <setting name="CRM_BASE_WebReference_ServicoEnviarLoteEventos"
        serializeAs="String">
        <value>endereco_ambiente_acessar_envio</value>
      </setting>
    </CRM_BASE.My.MySettings>
  </applicationSettings>
	<system.serviceModel>
		<protocolMapping>
			<add scheme="https" binding="BasicHttpsBinding" />
		</protocolMapping>
		<bindings>
			<wsHttpBinding>
				<!-- configure wsHttp binding with Transport security mode and clientCredentialType as Certificate -->
				<binding>
					<security mode="Transport">
						<transport clientCredentialType="Certificate"/>
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>
		<!--For debugging purposes set the includeExceptionDetailInFaults attribute to true-->
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceDebug includeExceptionDetailInFaults="True" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>
